{% extends 'adminbase.html' %}
{% block head %}
  <title>Edit course(NOSQL)</title>
{% endblock %}
{% block body %} 
<!--admin edit course page for NOSQL-->
<h1>Edit courses</h1>
<div class="row">
    <div class="col">
      <!--form to get the data that admin wish to update -->
      <form name="EditForm" method="POST" action="/successfulEdit_NoSql">
        <div class= "newcourseform">
          <h3>Edit Courses:</h3>
          <input type="hidden" id="CourseID" name="CourseID" value="{{CourseID}}">
          <div class="col-md-6">
            <label for="courses" class="form-label">Course Name</label>
            <input name="CourseName" type="text" class="form-control" id="courses" value="{{courseInfo.CourseName}}">
          </div>
          <div class="col-md-6">
            <label for="inputCity" class="form-label">Course URL</label>
            <input name="CourseURL" type="text" class="form-control" id="inputCity" value="{{courseInfo.CourseURL}}">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Average Starting Salary ($)</label>
            <input name="AvgGradPay" type="number" class="form-control" id="inputCity" value="{{courseInfo.AvgGradPay}}">
          </div>
          <div class="col-md-11">
            <label for="inputZip" class="form-label">Description</label>
            <textarea   name="CourseDesc" id="description" class="form-control descriptionbox" >{{courseInfo.CourseDesc}}"</textarea>
          </div>
          <br>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>   
      </form>
  
    </div>
  
  </div>

  {% endblock %}