{% extends 'adminbase.html' %}
{% block head %}
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <title>Edit data</title>
{% endblock %}

{% block body %} 
    <h1 class="col text-center">Edit data</h1>
    <form>
        <div class="form-group">
            <label for="Course">CourseName</label>
            <input type="text" class="form-control" id="Course" value = {{dataToEdit.CourseName}} >
        </div>
        <div class="form-group">
            <label for="Poly10">Poly 10th Perc</label>
            <input type="text" class="form-control" id="Poly10" value = {{dataToEdit.Poly10thPerc}} >
        </div>
        <div class="form-group">
            <label for="Poly90">Poly 90th Perc</label>
            <input type="text" class="form-control" id="Poly90" value = {{dataToEdit.Poly90thPerc}} >
        </div>
        <div class="form-group">
            <label for="Alevel10">A level 10th Perc</label>
            <input type="text" class="form-control" id="Alevel10" value = {{dataToEdit.Alevel10thPerc}} >
        </div>
        <div class="form-group">
            <label for="Alevel90">A level 90th Perc</label>
            <input type="text" class="form-control" id="Alevel90" value = {{dataToEdit.Alevel90thPerc}} >
        </div>
        <div class="form-group">
            <label for="intake">intake</label>
            <input type="text" class="form-control" id="intake" value = {{dataToEdit.intake}} >
        </div>
        <div class="form-group">
            <label for="avgpay">average pay</label>
            <input type="text" class="form-control" id="avgpay" value = {{dataToEdit.AvgGradPay}} >
        </div>
        <br>
        <div class="col text-center">
            <a class="btn btn-success" href="data" role="button">update</a>
        </div>
        </form>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
{% endblock %}