{% extends 'adminbase.html' %}
{% block head %}
   <title>Add Course</title>
{% endblock %}

{% block body %} 
    <h1 class="col text-center">Add Course</h1>
    <form action="/adminAddCourse" method="POST">
        
        <div class="col-6">
            <select class="form-group" id="university" name="university">
                <option value="" disabled selected hidden>select university</option>
                {%for university in universities %}
                    <option value="{{university[0]}}">{{university[0]}}</option>
                {% endfor %}
            </select>
        </div>
            
        <div class="form-group">
            <label for="courseID">CourseID</label>
            
            <input type="text" class="form-control" name="courseID" id="courseID" >
        </div>
        <div class="form-group">
            <label for="course">Course</label>
            <input type="text" class="form-control" name="course" id="course" placeholder="Course Name">
        </div>
        <div class="form-group">
            <label for="course_url">Course url</label>
            <input type="text" class="form-control" name="course_url" id="course_url" placeholder="Course Url">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Course Description">
        </div>
        <div class="form-group">
            <label for="poly10">Poly 10th Perc</label>
            <input type="text" class="form-control" name="poly10" id="poly10" placeholder="Poly 10th percentile" >
        </div>
        <div class="form-group">
            <label for="poly90">Poly 90th Perc</label>
            <input type="text" class="form-control" name="poly90" id="poly90" placeholder="Poly 90th percentile" >
        </div>
        <div class="form-group">
            <label for="Alevel10">A level 10th Perc</label>
            <input type="text" class="form-control" name="Alevel10" id="Alevel10" placeholder="A level 10th percentile" >
        </div>
        <div class="form-group">
            <label for="Alevel90">A level 90th Perc</label>
            <input type="text" class="form-control" name="Alevel90" id="Alevel90" placeholder="A level 90th percentile">
        </div>
        <div class="form-group">
            <label for="intake">intake</label>
            <input type="text" class="form-control" name="intake" id="intake" placeholder="intake" >
        </div>
        <div class="form-group">
            <label for="avgpay">average pay</label>
            <input type="text" class="form-control" name="avgpay" id="avgpay" placeholder="average pay">
        </div>
        <div class="form-group">
            <label for="FacultyID">Faculty ID</label>
            <input type="text" class="form-control" name="FacultyID" id="FacultyID" placeholder="Faculty ID">
        </div>
        <br>
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
{% endblock %}
