@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


.logo{
    height: auto; 
    width: auto; 
    max-width: 90px; 
    max-height: 90px;
    padding-left: 20px;
    padding-right: 10px;
}

.dashboard-head{
    text-align: center;
}

/* START cover page */
#coverImg {
    width: 100%;
    height: 820px;
    opacity: 0.3;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter:blur(2px);
    z-index: -1;
}

.container {
  padding: 10px;
  margin-top: 180px;
}

#coverH1 {
    font-size: 60px;
    color: #FF8048;
    text-shadow: 2px 2px 4px black;
    font-weight: 900;
}

#coverH2 {
    font-size: 24px;
    font-weight: 700;
}

#coverP {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }

@media screen and (max-width: 1000px) {
    #coverH1 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .container {
      margin-top: 120px;
    }
}

/* START form controls */
label{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

option{
    color: black;
    font-size: 24px;
}

.selectBox {
    padding: 5px;
    width: 520px;
    font-size: 20px;
    background-color: #F2F2F2;
}

#uniinfo {
    cursor: pointer;
}

#submitButton {
  background-color: #F2F2F2;
  color: #000;
  width: 180px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 3px solid #474350;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 340px;
  font-weight: 700;
}

#submitButton:hover {
  background-color: #FF8048;
}
/* END form controls */
/* END cover page */

.main-content{
    padding: 30px;
}
h1{
    color: rgb(156, 77, 46);
    padding-bottom: 15px;
}

.filtercard{
    padding: 2px;
    padding-left: 25px;
}

.dropbox{
    padding: 15px;
}

.SUtext{
    padding: 18px;
   
    color: rgb(255, 135, 87);
}

.menuposition{
    padding: 50px;
}

.resizeimage{
    max-height: 250px;
    max-width: 350px;
}

.course-card{
    max-width: 900px;
}

h2{
    color: #FF8048;
}

.box-dropdown{
    width: 100px;
}
.box-dropdownb{
    padding-left: 10px;

}

.drop{
    padding-top: 20px;
}

.newcourseform{
    background-color: rgba(224, 156, 131, 0.884);
    margin: auto;
    width: 30%;
    border: 3px solid rgb(185, 99, 68);
    padding: 40px;
    
}


.descriptionbox{
    width: 30%;
}

