{% extends 'base.html' %}

{% block head %}
<title>Graduates Analytics</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"> </script>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="../static/css/main.css">

<div id="containerDashboard">
    <h1>Dashboard Analytic View</h1>

    <!-- Dashboard Charts HERE-->
    <!--TOP 10 SALARY GRAPH, BAR CHART-->
    <div class="chartSection">
        <h3>Courses - Top 10 Average Salary</h3>

        <canvas id='barChartSalary' width='900' height='400'></canvas>
        <script>
            Chart.defaults.font.size = 12;
            var ctx = document.getElementById("barChartSalary").getContext("2d");
            var lineChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: {{ labels | safe}},
            datasets: [
                {
                    label: "Average Salary",
                    data: {{ values | safe }},
                fill: true,
                backgroundColor: "#264D7A",
                borderColor: "#083D77",
                borderWidth: 1,

                }
            ]
        },
            options: {
                responsive: false
            }
    })
        </script>
    </div>

    <!--TOP 95 PERCENT COURSE FOR POLYTECHNIC, -->
    <h3> Top 95 Percentile Courses for Polytechnics</h3>
    <canvas id='barChartPercentile' width='900' height='400'></canvas>
    <script>
        var ctx = document.getElementById("barChartPercentile").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{ ppercentile_labels | safe}},
        datasets: [
            {
                label: "Grade Point Average",
                data: {{ ppercentile_values | safe }},
            fill: true,
            backgroundColor: "rgba(54, 162, 235, 0.5)",
            borderColor: "rgb(75, 192, 192)",
            lineTension: 0.1,
            bevelWidth: 3,
            bevelHighlightColor: 'rgba(255, 255, 255, 0.75)',
            bevelShadowColor: 'rgba(0, 0, 0, 0.5)'
                }
        ]
        },
        options: {
            responsive: false
        }
    })
    </script>
</div>


{% endblock %}