<!DOCTYPE html>
<html lang="en">
<head>
    
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <title>Edit data</title>
   <link href="../css/main.css" rel="stylesheet">
</head>
<body>
    <h1>Edit data</h1>
    <div class="container">
    <form action="/action_page.php">
    <div class="row">
        <div class="col-25">
            <label for="year">Year</label>
        </div>
        <div class="col-75">
            <input type="text" id="year" name="year" autocomplete="off">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="uni">University</label>
        </div>
        <div class="col-75">
            <input type="text" id="uni" name="uni">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="course">Course</label>
        </div>
        <div class="col-75">
            <input type="text" id="course" name="course">
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="faculty">School</label>
        </div>
        <div class="col-75">
            <input type="text" id="faculty" name="faculty">
        </div>
    </div>
    <br>
    <div class="col text-center">
        <a class="btn btn-success" href="data.html" role="button">update</a>
    </div>
    </form>
</div>



    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>