<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="description" content="Web Application for Uni Database Management">
        <meta name="author" content="ICT2103-Team23">
        <meta http-equiv="refresh" content="60">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unify - Web Application</title>
        {% block head %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>