{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %} 

<div class="container">
  <h1>University Courses</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header headerforfilter">
          <h2>Filter Courses</h2>
        </div>
        <form method="POST" action="/courses">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h4>All Discipline</h4></li>
            <li class="list-group-item">
              <select name="category" id="category" class="form-select" aria-label="Default select example">
                {% for category in categoryinfo %}
                <option  value="{{ category[0] }}">{{ category[0] }}</option>
                {% endfor %}
              </select>
            </li>  
            <li class="list-group-item"><h4>Singapore Universities</h4></li>
            <li class="list-group-item">
              <div class="form-check pl-0 mb-3">
                  {% for uni in uniinfo %}
                  <div>
                    <input value="{{ uni[0] }}" name ="UniFilter" type="checkbox" class="filter-option form-check-input filled-in" />
                    <label class="form-check-label small text-uppercase card-link-secondary" for="{{ uni[0] }}">{{ uni[0] }}</label>
                  </div>
                  <br>
                  {% endfor %}     
              </div>      
            </li>

            <li class="list-group-item"><h4>Graduate Salary</h4></li>
            <li class="list-group-item">

              <div class="form-check pl-0 mb-3 padded-words">
                <input value="2000" name="Salary" condition="2k-3k" type="radio" class="filter-option form-check-input filled-in" id="2k-3k"/>
                <label class="form-check-label small text-uppercase card-link-secondary" for="2k-3k"> &gt; 2,000</label>
              </div>

              <div class="form-check pl-0 mb-3 padded-words">
                <input value="3000" name="Salary" condition="3k-4k" type="radio" class="filter-option form-check-input filled-in" id="3k-4k"/>
                <label class="form-check-label small text-uppercase card-link-secondary" for="3k-4k"> &gt; 3,000</label>
              </div>

              <div class="form-check pl-0 mb-3 padded-words">
                <input value="4000" name="Salary" condition="4k-5k" type="radio" class="filter-option form-check-input filled-in" id="4k-5k"/>
                <label class="form-check-label small text-uppercase card-link-secondary" for="4k-5k">&gt; 4,000</label>
              </div>

              <div class="form-check pl-0 mb-3 padded-words">
                <input value="5000" name="Salary" condition="5k-7k" type="radio" class="filter-option form-check-input filled-in" id="5k-7k"/>
                <label class="form-check-label small text-uppercase card-link-secondary" for="5k-7k">&gt; 5,000</label>
              </div>

            </li>
            <input name ="submit" type="submit" value="Filter" >
           
        </ul>

      </form>

      </div>
    </div>
    
    <div class="col-9"> 
      {% for course in coursesinfo %}
      <div class="card mb-3 course-card ">
       
        <img class="card-img-top resizeimage" src="{{ course[4] }}" alt="Universities Logo">
        <div class="card-body">
          <h5 class="card-title"> {{ course[6] }}</h5>
          <h5 class="card-title"> {{ course[0] }}</h5>
          <h6 class="card-title">Average Starting Pay: : $ {{ course[3] }}0</h6>
          <p class="card-text">{{ course[1] }}</p>
          <a href="{{ course[2] }}">More Info</a>
          <p class="card-text"><small class="text-muted"> {{ course[5] }}</small></p>
        </div>
      </div>
        {% endfor %}
      
    </div>
    
    
  
      

  </div>
</div>
  

  


<!-- Section: Condition -->

  <!-- Section: Condition -->





{% endblock %}