{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %} 

<div class="container">
  <h1>University Courses</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header headerforfilter">
          <h2>Filter Courses</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h4>Singapore Universities</h4></li>
          <li class="list-group-item">
            <div class="form-check pl-0 mb-3">
              <input type="checkbox" class="filter-option form-check-input filled-in" condition="ntu" id="ntu"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="ntu">Nanyang Technological University (NTU)</label>
            </div>
  
            <div class="form-check pl-0 mb-3">
              <input condition="nus" type="checkbox" class="filter-option form-check-input filled-in" id="nus"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="nus">National University of Singapore (NUS)</label>
            </div>
  
            <div class="form-check pl-0 mb-3">
              <input condition="sit" type="checkbox" class="filter-option form-check-input filled-in" id="sit"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="sit">Singapore Institute of Technology (SIT)</label>
            </div>
  
            <div class="form-check pl-0 mb-3">
              <input condition="smu" type="checkbox" class="filter-option form-check-input filled-in" id="smu"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="smu">Singapore Management University (SMU)</label>
            </div>
  
            <div class="form-check pl-0 mb-3">
              <input condition="suss" type="checkbox" class="filter-option form-check-input filled-in" id="suss"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="suss">Singapore University of Social Sciences (SUSS)</label>
            </div>
  
            <div class="form-check pl-0 mb-3">
              <input condition="sutd" type="checkbox" class="filter-option form-check-input filled-in" id="sutd"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="sutd">Singapore University of Technology and Design (SUTD)</label>
            </div>
          </li>

          <li class="list-group-item"><h4>Graduate Salary</h4></li>
          <li class="list-group-item">
            <div class="form-check pl-0 mb-3 padded-words">
              <input type="checkbox" class="filter-option form-check-input filled-in" condition="1k-2k" id="1k-2k"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="1k-2k">1,000-2,000</label>
            </div>

            <div class="form-check pl-0 mb-3 padded-words">
              <input condition="2k-3k" type="checkbox" class="filter-option form-check-input filled-in" id="2k-3k"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="2k-3k">2,000-3,000</label>
            </div>

            <div class="form-check pl-0 mb-3 padded-words">
              <input condition="3k-4k" type="checkbox" class="filter-option form-check-input filled-in" id="3k-4k"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="3k-4k">3,000-4,000</label>
            </div>

            <div class="form-check pl-0 mb-3 padded-words">
              <input condition="4k-5k" type="checkbox" class="filter-option form-check-input filled-in" id="4k-5k"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="4k-5k">4,000-5,000</label>
            </div>

            <div class="form-check pl-0 mb-3 padded-words">
              <input condition="5k-7k" type="checkbox" class="filter-option form-check-input filled-in" id="5k-7k"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="5k-7k">5,000-7,000</label>
            </div>

            <div class="form-check pl-0 mb-3 padded-words">
              <input condition="7k-10k" type="checkbox" class="filter-option form-check-input filled-in" id="7k-10k"/>
              <label class="form-check-label small text-uppercase card-link-secondary" for="7k-10k">7,000-10,000</label>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-9"> 
      <div class="card mb-3 course-card ">
        <img class="card-img-top resizeimage" src="../static/images/logo-sit.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Information and Communications Technology (Software Engineering)</h5>
          <p class="card-text">The Bachelor of Engineering with Honours in Information and Communications Technology majoring in Software Engineering is a four-year direct honours degree programme.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3 course-card ">
        <img class="card-img-top resizeimage" src="../static/images/logo-sit.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3 course-card ">
        <img class="card-img-top resizeimage" src="../static/images/logo-sit.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    
    
  
      

  </div>
</div>
  

  


<!-- Section: Condition -->

  <!-- Section: Condition -->





{% endblock %}