{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

<img src="static/images/graduates_throw_hat.png" alt="graduates throw hat to the sky" id="coverImg">

<h1 class="center-overlay" id="coverH1">Kickstart your journey here!</h1>
<h2 class="center-overlay" id="coverH2">Explore all the courses from the local universities in Singapore.</h2>
<p class="center-overlay" id="coverP">Last updated on: 01 October 2021</p>

<div class="form-group">
    <select class="form-control" id="searchCourse">
        <option value="" disabled selected hidden>What do you want to study?</option>
        <option>Infomation Technology</option>
        <option>Engineering</option>
        <option>Business</option>
        <option>Design</option>
        <option>Science</option>
        <option>Humanities & Social Sciences</option>
    </select>
</div>





{% endblock %}