{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<style>
    @media screen and (max-width: 1200px) {
        .col-6 {
            width: 100%;
            margin-bottom: 20px;
        }


    }
</style>
<div class="container">
    <h1 id="coverH1">Kickstart your journey here!</h1>
    <h2 id="coverH2">Explore all the courses from the local universities in Singapore.</h2>
    <p id="coverP">Last updated on: 01 October 2021 |
        Photo by <a
            href="https://unsplash.com/@yuhao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="_blank" rel="noopener noreferrer">Pang Yuhao</a> on
        <a href="https://unsplash.com/s/photos/university?utm_source=unsplash&utm_medium=referral&
        utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a>
    </p>
    <form name="homePForm" method="POST" action="/courses">
        <div class="row">

            <div class="col-6 form-group">
                <label for="uniFilter">1) Which university?</label>
                <select name="uniFilter" id="uniFilter" class="selectBox">
                    <option value="" disabled selected hidden></option>
                    {% for uni in uniFilter %}
                    <option value="{{ uni[0] }}">{{ uni[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 form-group">
                <label for="category">2) What do you want to study?</label>
                <select name="category" id="category" class="selectBox" disabled="true">
                    {% for category in categoryinfo %}
                    <option value="{{ category[0] }}">{{ category[0] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <input type="hidden" id="toSalary" name="toSalary" value="5000">
                <input type="hidden" id="fromSalary" name="fromSalary" value="0">
                <input name="submit" type="submit" value="Submit" id="submitButton" class="btn">
            </div>
        </div>
    </form>
</div>

<img src="static/images/graduates_throw_hat.png" alt="graduates throw hat to the sky" id="coverImg">

<script>
    uniSelect = document.getElementById('uniFilter');
    catSelect = document.getElementById('category');

    uniSelect.onchange = function () {
        university = uniSelect.value;
        fetch(university).then(function (response) {
            document.getElementById('category').disabled = false;
            response.json().then(function (data) {
                optionHTML = '';
                for (category of data.categoryList) {
                    optionHTML += '<option style="cursor: pointer;" value="' + category.id + '">' + category.name + '</option>'
                }
                catSelect.innerHTML = optionHTML;
            })
        })
    }

</script>
{% endblock %}